<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sigcomt.gestionProyectos.repositorio.anteproyecto.PersonaDao">

	<!-- INI - PERSONA -->
	<select id="listarEjecutivoResponsableByEstadoByRol" parameterType= "map" resultType="map">
		select secRolUser."id_detalle" as iddetalle, 
				(per."NOMBRE_PERSONA"||' '||per."APELLIDO_PERSONA")as nombres 
		from "CREAR_PROYECTO"."PERSONA" per
		inner join "seguridad"."security_user" secUser
		on secUser."ID_PERSONA" = per."ID_PERSONA"
		inner join "seguridad"."security_rol_user" secRolUser
		on secRolUser."id_user" = secUser."id_user"
		inner join "seguridad"."security_rol" secRol
		on secRol."id_rol" = secRolUser."id_rol"
		where secRolUser."estado" = #{estado}
		and secRol."id_rol" = #{idRol}
	</select>
	
	<select id="listarInteresadoByEstadoByEmpresa" parameterType= "map" resultType="map">
		SELECT DETEMP."ID_DETALLE_EMPRESA_PERSONA" as iddet, 
			PER."NOMBRE_PERSONA"||' '|| PER."APELLIDO_PERSONA" as nombreinteresado,
			ROL."NOMBRE_TIPO_ROL" as cargo
		FROM "CREAR_PROYECTO"."DETALLE_EMPRESA_PERSONA" DETEMP 
		INNER JOIN "CREAR_PROYECTO"."EMPRESA" EMP 
		ON EMP."ID_EMPRESA" = DETEMP."ID_EMPRESA" 
		INNER JOIN "CREAR_PROYECTO"."PERSONA" PER 
		ON PER."ID_PERSONA" = DETEMP."ID_PERSONA" 
		INNER JOIN "PLANIFICAR_PROYECTO"."TIPO_ROL" ROL
		ON ROL."ID_TIPO_ROL" = PER."ID_TIPO_ROL"
		WHERE DETEMP."ESTADO" = #{estado}
		AND EMP."ID_EMPRESA" = #{idEmpresa}		
	</select>	
	<!-- FIN - PERSONA -->
	
</mapper>
