<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sigcomt.gestionProyectos.repositorio.anteproyecto.PersonaDao">

	<!-- INI - PERSONA -->
	<select id="listarEjecutivoResponsableByEstadoByRol" parameterType= "map" resultType="map">
		select secRolUser."id_detalle" as iddetalle, 
				(per."NOMBRE_PERSONA"||' '||per."APELLIDO_PERSONA")as nombres,
				per."EMAIL" as correo,
				per."ID_PERSONA" id
		from "CREAR_PROYECTO"."PERSONA" per
		inner join "seguridad"."security_user" secUser
		on secUser."ID_PERSONA" = per."ID_PERSONA"
		inner join "seguridad"."security_rol_user" secRolUser
		on secRolUser."id_user" = secUser."id_user"
		inner join "seguridad"."security_rol" secRol
		on secRol."id_rol" = secRolUser."id_rol"
		where secRolUser."estado" = #{estado}
		and secRol."id_rol" = #{idRol}
	</select>
	
	<select id="listarInteresadoByEstadoByEmpresa" parameterType= "map" resultType="map">
		SELECT DETEMP."ID_DETALLE_EMPRESA_PERSONA" as iddet, 
			PER."NOMBRE_PERSONA"||' '|| PER."APELLIDO_PERSONA" as nombreinteresado,
			ROL."NOMBRE_TIPOROL" as cargo
		FROM "CREAR_PROYECTO"."DETALLE_EMPRESA_PERSONA" DETEMP 
		INNER JOIN "CREAR_PROYECTO"."EMPRESA" EMP 
		ON EMP."ID_EMPRESA" = DETEMP."ID_EMPRESA" 
		INNER JOIN "CREAR_PROYECTO"."PERSONA" PER 
		ON PER."ID_PERSONA" = DETEMP."ID_PERSONA" 
		INNER JOIN "PLANIFICAR_PROYECTO"."TIPO_ROL" ROL
		ON ROL."ID_TIPO_ROL" = PER."ID_TIPO_ROL"
		WHERE DETEMP."ESTADO" = #{estado}
		AND EMP."ID_EMPRESA" = #{idEmpresa}		
	</select>	
	
	<insert id="registrarPersona" parameterType="persona">
	 <selectKey keyProperty="id" resultType="Long" order="BEFORE">
         SELECT nextval('"CREAR_PROYECTO".sq_persona')
     </selectKey>
	    INSERT INTO "CREAR_PROYECTO"."PERSONA"("ID_PERSONA", "NOMBRE_PERSONA", "APELLIDO_PERSONA", "ESTADO", 
				       "TELEFONO", "ANEXO", "EMAIL", "ID_TIPO_ROL", 
				       "NUMERO_DOCUMENTO", "ID_TIPO_DOCUMENTO", "DIRECCION", "RED_SOCIAL_FACEBOOK", 
				       "RED_SOCIAL_GMAIL", "RED_SOCIAL_TWITTER", "RED_SOCIAL_LINKEDIN", "PERFIL_PROFESIONAL")
	    VALUES (#{id}, #{nombres}, #{apellidos}, #{estado}, #{telefono}, 
			    #{anexo}, #{correo}, #{idTipoRol}, #{nrodocumento}, #{idTipoDocumento},  
			    #{direccion}, #{rsfacebook}, #{rsgmail}, #{rstwitter}, #{rslinkedin}, #{perfilProfesional});
	</insert>
	
	<update id="editarPersona" parameterType="persona">
		UPDATE "CREAR_PROYECTO"."PERSONA"
		   SET "NOMBRE_PERSONA" = COALESCE(#{nombres}, "NOMBRE_PERSONA"),	 
		       "APELLIDO_PERSONA" = COALESCE(#{apellidos}, "APELLIDO_PERSONA"), 
		       "ESTADO" = COALESCE(#{estado}, "ESTADO"), 
		       "TELEFONO" = COALESCE(#{telefono}, "TELEFONO"), 
		       "ANEXO" = COALESCE(#{anexo}, "ANEXO"), 
		       "EMAIL" = COALESCE(#{correo}, "EMAIL"), 
		       "ID_TIPO_ROL" = COALESCE(#{idTipoRol}, "ID_TIPO_ROL"), 
		       "NUMERO_DOCUMENTO" = COALESCE(#{nrodocumento}, "NUMERO_DOCUMENTO"), 
		       "ID_TIPO_DOCUMENTO" = COALESCE(#{idTipoDocumento}, "ID_TIPO_DOCUMENTO"), 
		       "DIRECCION" = COALESCE(#{direccion}, "DIRECCION"), 
		       "RED_SOCIAL_FACEBOOK" = COALESCE(#{rsfacebook}, "RED_SOCIAL_FACEBOOK"), 
		       "RED_SOCIAL_GMAIL" = COALESCE(#{rsgmail}, "RED_SOCIAL_GMAIL"), 
		       "RED_SOCIAL_TWITTER" = COALESCE(#{rstwitter}, "RED_SOCIAL_TWITTER"), 
		       "RED_SOCIAL_LINKEDIN" = COALESCE(#{rslinkedin}, "RED_SOCIAL_LINKEDIN"), 
		       "PERFIL_PROFESIONAL" = COALESCE(#{perfilProfesional}, "PERFIL_PROFESIONAL")
		 WHERE "ID_PERSONA" = #{id};
	</update>
	
	<select id="buscarPersonabyTipobyNroDocumento" parameterType="persona" resultType="int">
		 SELECT COUNT(1)
		FROM "CREAR_PROYECTO"."PERSONA" p 
		WHERE p."ID_TIPO_DOCUMENTO" = #{idTipoDocumento}
		AND   p."NUMERO_DOCUMENTO" = #{nrodocumento};
	</select>
	
	<delete id="eliminarPersona" parameterType="int">
	 	DELETE FROM "CREAR_PROYECTO"."PERSONA" WHERE "ID_PERSONA" = #{id};
	</delete>
	<!-- FIN - PERSONA -->
	
</mapper>
