<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sigcomt.gestionProyectos.repositorio.anteproyecto.ProyectoDao">

	<!-- INI - PROYECTO -->
	<select id="listarProyectoByDetalleEstadoProyectoByEstado" parameterType= "map" resultType="Proyecto">
		select py."ID_PROYECTO" as idProyecto,
				py."NOMBRE_PROYECTO" as nombreProyecto 
		from "CREAR_PROYECTO"."PROYECTO" py
		inner join "CREAR_PROYECTO"."DETALLE_ESTADO_PROYECTO" detEstPy
		on detEstPy."ID_PROYECTO" = py."ID_PROYECTO"
		where py."ESTADO" = #{estado}
		and detEstPy."ID_ESTADO_PROYECTO" = #{idEstadoProyecto}
		and detEstPy."ESTADO" = #{estado}
	</select>
	
	<select id="buscarProyectoByDetalleEstadoProyectoByEstado"  resultType="Proyecto">
		select py."ID_PROYECTO" as idProyecto,
			py."NOMBRE_PROYECTO" as nombreProyecto,
			py."NOMBRE_EMPRESA" as nombreEmpresa,	
			tipoPy."DESCRIPCION_TIPO_PROYECTO" as descripcionTipoProyecto,
			to_char(py."FECHA_CONTACTO", 'dd-mm-yyyy')as fechaContactoString,
			(select per."NOMBRE_PERSONA"||' '||per."APELLIDO_PERSONA" 
			from "CREAR_PROYECTO"."PERSONA" per
			inner join "seguridad"."security_user" secUser
			on secUser."ID_PERSONA" = per."ID_PERSONA"
			inner join "seguridad"."security_rol_user" secRolUser
			on secRolUser."id_user" = secUser."id_user"
			where secRolUser."id_detalle" = py."ID_RESPONSABLE_PROYECTO") as nombreResponsable,
			(select per."NOMBRE_PERSONA"||' '||per."APELLIDO_PERSONA" 
			from "CREAR_PROYECTO"."PERSONA" per
			inner join "seguridad"."security_user" secUser
			on secUser."ID_PERSONA" = per."ID_PERSONA"
			inner join "seguridad"."security_rol_user" secRolUser
			on secRolUser."id_user" = secUser."id_user"
			where secRolUser."id_detalle" = py."ID_EJECUTIVO_CUENTA") as nombreEjecutivo	
		from "CREAR_PROYECTO"."PROYECTO" py
		inner join "CREAR_PROYECTO"."DETALLE_ESTADO_PROYECTO" detEstPy
		on detEstPy."ID_PROYECTO" = py."ID_PROYECTO"
		inner join "CREAR_PROYECTO"."TIPO_PROYECTO" tipoPy
		on tipoPy."ID_TIPO_PROYECTO" = py."ID_TIPO_PROYECTO"
		where py."ESTADO" = #{estado}
		and detEstPy."ID_ESTADO_PROYECTO" = #{idEstadoProyecto}
		and detEstPy."ESTADO" = #{estado}
		<if test="idEmpresa != null and idEmpresa != ''">
			and py."ID_EMPRESA" = #{idEmpresa} 
		</if>
		<if test="fechaInicio != null and fechaInicio != ''">
			and to_char(py."FECHA_CONTACTO", 'dd/mm/yyyy') >= #{fechaInicio} 
		</if>
		<if test="fechaFin != null and fechaFin != ''">
			<![CDATA[
			and to_char(py."FECHA_CONTACTO", 'dd/mm/yyyy') <= #{fechaFin}
			]]>
		</if>
		<if test="idTipoProyecto != null and idTipoProyecto != ''">
			and py."ID_TIPO_PROYECTO" = #{idTipoProyecto} 
		</if>
		<if test="idResponsableProyecto != null and idResponsableProyecto != ''">
			and py."ID_RESPONSABLE_PROYECTO" = #{idResponsableProyecto} 
		</if>
		<if test="idEjecutivoCuenta != null and idEjecutivoCuenta != ''">
			and py."ID_EJECUTIVO_CUENTA" = #{idEjecutivoCuenta} 
		</if> 
	</select>
	
	<insert id="grabarProyectoByEstado" parameterType="Proyecto">
        <selectKey keyProperty="idProyecto" resultType="Long" order="BEFORE">
            select NEXTVAL('"CREAR_PROYECTO"."SQ_PROYECTO"')
        </selectKey>
        insert into "CREAR_PROYECTO"."PROYECTO" 
        ("ID_PROYECTO",
        "ID_PROYECTO_ASOCIADO",
        "FECHA_CONTACTO",
        "ID_TIPO_PROYECTO",
        "ID_EJECUTIVO_CUENTA",
        "ID_RESPONSABLE_PROYECTO",
        "NOMBRE_PROYECTO",
        "ALCANCE_INICIAL",
        "OBJETIVO_INICIAL",
        "ESTADO")
        values
        (#{idProyecto}, 
        #{idProyectoAsociado},
        #{fechaContacto}, 
        #{idTipoProyecto},
        #{idEjecutivoCuenta},
        #{idResponsableProyecto},
        #{nombreProyecto},
        #{alcanceInicial},
        #{ObjetivoInicial},
        #{estado})  
        <!-- <selectKey keyProperty="codigoProyecto" resultType="String" order="AFTER">
            select "CODIGO_PROYECTO"
        </selectKey> -->
    </insert>
    
    <insert id="grabarDetalleEstadoProyectoByEstado" parameterType="DetalleEstadoProyecto">
        insert into "CREAR_PROYECTO"."DETALLE_ESTADO_PROYECTO" 
        ("ID_DETALLE_ESTADO_PROYECTO", 
        "ID_ESTADO_PROYECTO",
        "ID_PROYECTO",
        "FECHA_CREACION",
        "ESTADO")
        values
        (nextval('"CREAR_PROYECTO"."SQ_DETALLE_ESTADO_PROYECTO"'),  
        #{idEstadoProyecto},
        #{idProyecto},
        #{fechaCreacion},
        #{estado});
    </insert>
    
    <insert id="actualizarDetalleEstadoProyecto" parameterType="DetalleEstadoProyecto">
        update "CREAR_PROYECTO"."DETALLE_ESTADO_PROYECTO" 
        set "FECHA_CREACION" = #{fechaCreacion}
        where "ID_DETALLE_ESTADO_PROYECTO" = #{idDetalleEstadoProyecto};
    </insert>
    
    <select id="buscarByIdPyByEstPyByEst" parameterType = "AgregarAnteproyectoModel" resultType="DetalleEstadoProyecto">
       select detEstPy."ID_DETALLE_ESTADO_PROYECTO" as idDetalleEstadoProyecto
       from "CREAR_PROYECTO"."DETALLE_ESTADO_PROYECTO" detEstPy
       where detEstPy."ESTADO" = #{estado}
            and detEstPy."ID_ESTADO_PROYECTO" = #{idEstadoProyecto}
            and detEstPy."ID_PROYECTO" = #{idProyecto}        
    </select>
    
    <select id="buscarPyByCodPy" parameterType = "java.lang.String" resultType="Proyecto">
       select py."ID_PROYECTO" as idProyecto
       from "CREAR_PROYECTO"."PROYECTO" py
       where py."CODIGO_PROYECTO" = #{codigoPy}   
    </select>
    
    <select id="buscarPyByIdPy" parameterType = "java.lang.Long" resultType="Proyecto">
       select py."CODIGO_PROYECTO" as codigoProyecto
       from "CREAR_PROYECTO"."PROYECTO" py
       where py."ID_PROYECTO" = #{idPy}   
    </select>
    
    <insert id="actualizarProyectoByEstado" parameterType="Proyecto">     
        update "CREAR_PROYECTO"."PROYECTO" 
        set "ID_PROYECTO_ASOCIADO" = #{idProyectoAsociado},
        "FECHA_CONTACTO" = #{fechaContacto}, 
        "ID_TIPO_PROYECTO" = #{idTipoProyecto},
        "ID_EJECUTIVO_CUENTA" = #{idEjecutivoCuenta},
        "ID_RESPONSABLE_PROYECTO" = #{idResponsableProyecto},
        "NOMBRE_PROYECTO" = #{nombreProyecto},
        "ALCANCE_INICIAL" = #{alcanceInicial},
        "OBJETIVO_INICIAL" = #{ObjetivoInicial},
        "ESTADO" = #{estado}
        where "ID_PROYECTO" = #{idProyecto}
            
    </insert>
    
    <delete id="eliminarDetalleInteresado" parameterType="AgregarAnteproyectoModel">
      delete from "CREAR_PROYECTO"."DETALLE_INTERESADO" 
      where "ID_PROYECTO" = #{idProyecto};
    </delete>
    
    <insert id="insertarListaDetalleInteresado" parameterType="java.util.List">        
        <foreach collection="interesados" item="element" index="index" separator="">
            INSERT INTO "CREAR_PROYECTO"."DETALLE_INTERESADO" (
            "ID_DETALLE_INTERESADO",
            "ID_DETALLE_EMPRESA_PERSONA",
            "ID_PROYECTO",
            "INTERES_CONTACTO",
            "ESTADO")
            VALUES
            (nextval('"CREAR_PROYECTO"."SQ_DETALLE_INTERESADO"'),  
            #{element.idInteresado},
            #{element.idProyecto},
            #{element.interes},
            1);
       </foreach>
    </insert>
    
    <delete id="eliminarDetalleArchivoByTipoArchivoByIdPy" parameterType="AgregarAnteproyectoModel">
      delete from "CREAR_PROYECTO"."DETALLE_ARCHIVO" 
      where "ID_PROYECTO" = #{idProyecto}
      and "ID_TIPO_ARCHIVO" = #{tipoArchivo};
    </delete>  
    
    <insert id="insertarListaDetalleObservaciones" parameterType="java.util.List">        
        <foreach collection="observaciones" item="element" index="index" separator="">
            INSERT INTO "CREAR_PROYECTO"."DETALLE_ARCHIVO" (
            "ID_DETALLE_ARCHIVO",
            "NOMBRE_ARCHIVO",
            "ID_PROYECTO",
            "ID_TIPO_ARCHIVO",
            "OBSERVACION",
            "ESTADO")
            VALUES
            (nextval('"CREAR_PROYECTO"."SQ_DETALLE_ARCHIVO"'),  
            #{element.archivo},
            #{element.idProyecto},
            #{element.idTipoArchivo},
            #{element.observacion},
            1);
       </foreach>
    </insert>  
    
    <insert id="insertarListaDetalleAnexo" parameterType="java.util.List">        
        <foreach collection="anexos" item="element" index="index" separator="">
            INSERT INTO "CREAR_PROYECTO"."DETALLE_ARCHIVO" (
            "ID_DETALLE_ARCHIVO",
            "NOMBRE_ARCHIVO",
            "ID_PROYECTO",
            "ID_TIPO_ARCHIVO",
            "OBSERVACION",
            "ESTADO")
            VALUES
            (nextval('"CREAR_PROYECTO"."SQ_DETALLE_ARCHIVO"'),  
            #{element.archivo},
            #{element.idProyecto},
            #{element.idTipoArchivo},
            #{element.anexo},
            1);
       </foreach>
    </insert>
	
	<!-- FIN - PROYECTO -->
	
	<!-- [INI] EJECUCION -->
	<select id="listarProyectoByEstado" parameterType="int" resultType="Proyecto">
		SELECT "ID_PROYECTO" as idProyecto, 
				"NOMBRE_PROYECTO" as nombreProyecto
		  FROM "CREAR_PROYECTO"."PROYECTO" 
		WHERE "ESTADO" = #{estado};
	</select>
	
	<select id="listaProyectoByEstadoEjecucion" resultType="LstProyEjecucion">
	   select p."ID_PROYECTO" as idProyecto, P."NOMBRE_PROYECTO" as dscProyecto , e."ID_EMPRESA" as idCliente, 
	   		  e."RAZON_SOCIAL" as dscCliente, tp."ID_TIPO_PROYECTO" as idTipoProyecto, tp."DESCRIPCION_TIPO_PROYECTO" as dscTipoProyecto, 
	   		  to_char(p."FECHA_CONTACTO", 'DD/MM/YYYY') as fechaInicio,
	   		    p."ID_RESPONSABLE_PROYECTO" as idResponsable,
			       (select per."NOMBRE_PERSONA" || per."APELLIDO_PERSONA" 
			        from seguridad.security_rol_user sru,
					      seguridad.security_user su,
					      "CREAR_PROYECTO"."PERSONA" per
			        where sru.id_user = su.id_user
			        and   su."ID_PERSONA" = per."ID_PERSONA"
			        and   sru.id_detalle = p."ID_RESPONSABLE_PROYECTO") as dscResponsable
			from "CREAR_PROYECTO"."DETALLE_ESTADO_PROYECTO" dp,
			     "CREAR_PROYECTO"."PROYECTO" p,
			     "CREAR_PROYECTO"."DETALLE_INTERESADO" di,
			     "CREAR_PROYECTO"."DETALLE_EMPRESA_PERSONA" dep,
			     "CREAR_PROYECTO"."TIPO_PROYECTO" tp,
			     "CREAR_PROYECTO"."EMPRESA" e
			where dp."ID_PROYECTO" = p."ID_PROYECTO"
			and   p."ID_TIPO_PROYECTO" = tp."ID_TIPO_PROYECTO"
			and   p."ID_PROYECTO" = di."ID_PROYECTO"
			and   di."ID_DETALLE_EMPRESA_PERSONA" = dep."ID_DETALLE_EMPRESA_PERSONA"
			and   dep."ID_EMPRESA" = e."ID_EMPRESA"
 		    and   p."ESTADO" = 1
 		    and   dp."ESTADO" = 1
		<if test="idProyecto != null and idProyecto != ''">
			and p."ID_PROYECTO" = #{idProyecto} 
		</if>
		<if test="idCliente != null and idCliente != ''">
			and e."ID_EMPRESA" = #{idCliente}
		</if>
		<if test="idTipoProyecto != null and idTipoProyecto != ''">
			and tp."ID_TIPO_PROYECTO" = #{idTipoProyecto} 
		</if>
<!-- 		<if test="idResponsableProyecto != null and idResponsableProyecto != ''"> -->
<!-- 			and py."ID_TIPO_PROYECTO" = #{idResponsableProyecto}  -->
<!-- 		</if> -->

		<if test="estado != null and estado != ''">
			and dp."ID_ESTADO_PROYECTO" = #{estado} 
		</if>
		<if test="fechaInicio != null and fechaInicio != ''">
			and to_char(p."FECHA_CONTACTO", 'dd/mm/yyyy') = #{fechaInicio} 
		</if>
		<if test="fechaFin != null and fechaFin != ''">
			and to_char(p."FECHA_CONTACTO", 'dd/mm/yyyy') = #{fechaFin} 
		</if>
	</select>
	<!-- [FIN] EJECUCION -->
	<!-- [INI] CIERRE -->
	<select id="listaProyectoByEstadoCierre" resultType="LstProyCierre">
	   select p."ID_PROYECTO" as idProyecto, P."NOMBRE_PROYECTO" as dscProyecto , e."ID_EMPRESA" as idCliente, 
	   		  e."RAZON_SOCIAL" as dscCliente, tp."ID_TIPO_PROYECTO" as idTipoProyecto, tp."DESCRIPCION_TIPO_PROYECTO" as dscTipoProyecto, 
	   		  to_char(p."FECHA_CONTACTO", 'DD/MM/YYYY') as fechaInicio,
	   		    p."ID_RESPONSABLE_PROYECTO" as idResponsable,
			       (select per."NOMBRE_PERSONA" || per."APELLIDO_PERSONA" 
			        from seguridad.security_rol_user sru,
					      seguridad.security_user su,
					      "CREAR_PROYECTO"."PERSONA" per
			        where sru.id_user = su.id_user
			        and   su."ID_PERSONA" = per."ID_PERSONA"
			        and   sru.id_detalle = p."ID_RESPONSABLE_PROYECTO") as dscResponsable,
			  (select e."DESCRIPCION_ESTADO_PROYECTO" from "CREAR_PROYECTO"."ESTADO_PROYECTO" e
			   where e."ID_ESTADO_PROYECTO" = dp."ID_ESTADO_PROYECTO") estado					        
			from "CREAR_PROYECTO"."DETALLE_ESTADO_PROYECTO" dp,
			     "CREAR_PROYECTO"."PROYECTO" p,
			     "CREAR_PROYECTO"."DETALLE_INTERESADO" di,
			     "CREAR_PROYECTO"."DETALLE_EMPRESA_PERSONA" dep,
			     "CREAR_PROYECTO"."TIPO_PROYECTO" tp,
			     "CREAR_PROYECTO"."EMPRESA" e
			where dp."ID_PROYECTO" = p."ID_PROYECTO"
			and   p."ID_TIPO_PROYECTO" = tp."ID_TIPO_PROYECTO"
			and   p."ID_PROYECTO" = di."ID_PROYECTO"
			and   di."ID_DETALLE_EMPRESA_PERSONA" = dep."ID_DETALLE_EMPRESA_PERSONA"
			and   dep."ID_EMPRESA" = e."ID_EMPRESA"
 		    and   p."ESTADO" = 1
 		    and   dp."ESTADO" = 1
	    <if test="idCliente != null and idCliente != ''">
			and e."ID_EMPRESA" = #{idCliente}
		</if>
		<if test="idTipoProyecto != null and idTipoProyecto != ''">
			and tp."ID_TIPO_PROYECTO" = #{idTipoProyecto} 
		</if>
		<if test="estado != null and estado != ''">
			and dp."ID_ESTADO_PROYECTO" = #{estado} 
		</if>
		<if test="fechaInicio != null and fechaInicio != ''">
			and to_char(p."FECHA_CONTACTO", 'dd/mm/yyyy') = #{fechaInicio} 
		</if>
		<if test="fechaFin != null and fechaFin != ''">
			and to_char(p."FECHA_CONTACTO", 'dd/mm/yyyy') = #{fechaFin} 
		</if>
	</select>
	
	<update id="actualizarProyecto" parameterType="Proyecto" >
		UPDATE "CREAR_PROYECTO"."PROYECTO"
		   SET "NOMBRE_PROYECTO" = COALESCE(#{nombreProyecto}, "NOMBRE_PROYECTO"), 
		       "ID_TIPO_PROYECTO" = COALESCE(#{idTipoProyecto}, "ID_TIPO_PROYECTO"), 
		       "ESTADO" = COALESCE(#{estado}, "ESTADO"), 
		       "FECHA_CONTACTO" = COALESCE(#{fechaContacto}, "FECHA_CONTACTO"), 
		       "ID_RESPONSABLE_PROYECTO" = COALESCE(#{idResponsableProyecto}, "ID_RESPONSABLE_PROYECTO"),  
		       "ID_EJECUTIVO_CUENTA" = COALESCE(#{idEjecutivoCuenta}, "ID_EJECUTIVO_CUENTA"), 
		       "CODIGO_PROYECTO" = COALESCE(#{codigoProyecto}, "CODIGO_PROYECTO"), 
		       "ID_PROYECTO_ASOCIADO" = COALESCE(#{idProyectoAsociado}, "ID_PROYECTO_ASOCIADO"), 
		       "ALCANCE_INICIAL" = COALESCE(#{alcanceInicial}, "ALCANCE_INICIAL"), 
		       "OBJETIVO_INICIAL" = COALESCE(#{ObjetivoInicial}, "OBJETIVO_INICIAL"), 
		       "ID_EMPRESA" = COALESCE(#{idEmpresa}, "ID_EMPRESA"), 
		       "NOMBRE_EMPRESA" = COALESCE(#{nombreEmpresa}, "NOMBRE_EMPRESA"), 
		       "DESCRIPCION_PRODUCTO_PROYECTO" = COALESCE(#{descripcionProductoProyecto}, "DESCRIPCION_PRODUCTO_PROYECTO"), 
		       "ALCANCE_PROYECTO" = COALESCE(#{alcanceProyecto}, "ALCANCE_PROYECTO"), 
		       "FECHA_CIERRE_PROYECTO" = COALESCE(#{fechaCierreProyecto}, "FECHA_CIERRE_PROYECTO"), 
		       "COMENTARIOS_CIERRE_PROYECTO" = COALESCE(#{comentariosCierreProyecto}, "COMENTARIOS_CIERRE_PROYECTO"), 
		       "FECHA_CANCELACION" = COALESCE(#{fechaCancelacion}, "FECHA_CANCELACION"), 
		       "JUSTIFICACION_CANCELACION" = COALESCE(#{justificacionCancelacion}, "JUSTIFICACION_CANCELACION")
		 WHERE "ID_PROYECTO" = #{idProyecto};
	</update>
	
	<insert id="registrarDetallleProyecto" parameterType="DetalleProyecto">
	   INSERT INTO "CREAR_PROYECTO"."DETALLE_ESTADO_PROYECTO"(
            "ID_DETALLE_ESTADO_PROYECTO", "ID_ESTADO_PROYECTO", "ID_PROYECTO", 
            "FECHA_CREACION", "FECHA_APROBACION", "ESTADO")
	    VALUES (nextval('"CREAR_PROYECTO".sq_detalle_estado_proyecto'), #{idEstado}, #{idProyecto}, 
	            CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 1);
	</insert>
	
	<update id="actualizarDetalleProyecto" parameterType="DetalleProyecto">
		UPDATE "CREAR_PROYECTO"."DETALLE_ESTADO_PROYECTO"
		   SET "ESTADO" = #{estado}
		 WHERE "ID_PROYECTO" =  #{idProyecto};
	</update>
	<!-- [FIN] CIERRE -->
	
</mapper>
